/* styles.css */

/* Body Styling */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #01DFD7;
  background-color: #F8F9FA;  /* Light gray background color */
  background-image: url('your-image-file.jpg'); /* Replace 'your-image-file.jpg' with your actual image file */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Optional: Fixed background */
}

/* Heading Styling */
h1, h2, h3, h4, h5, h6 {
  color: #01DFD7;
}

/* Code Block Styling */
pre {
  background-color: #000000;  /* Code block background color */
  padding: 10px;
  border: 1px solid #ec6d05;  /* Code block border color */
  border-radius: 5px;
  overflow: auto;
}

code {
  color: #ec6d05;
}

/* Link Styling */
a {
  color: #b700ff;  /* Link color */
  text-decoration: none;
  transition: color 0.3s ease;  /* Smooth color transition on hover */
}

a:hover {
  color: #ff0037;  /* Darker color on hover */
  text-decoration: underline;
}

/* Custom Class Styling */
.highlight {
  background-color: #FFFF00;  /* Highlight background color */
  color: #333;  /* Highlight text color */
  padding: 3px;
  border-radius: 3px;
  transition: background-color 0.3s ease;  /* Smooth background color transition on hover */
}

.highlight:hover {
  background-color: #FFD700;  /* Darker background color on hover */
  color: #333;  /* Maintain text color on hover */
  border-radius: 3px;
  transition: background-color 0.3s ease;  /* Smooth background color transition on hover */
}

/* Animation Example */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

/* Box Shadow Example */
.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
